<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Task It</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>
